# Виртуальное окружение
venv/
env/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Папка с временными файлами
code/
__pycache__/
*.pyc
*.pyo
*.pyd

# Файлы с паролями (если не хотите их коммитить)
passwords.txt